<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253637101944-2qgsocpr66r9rugka9em04fd0g73venb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253637101944-2qgsocpr66r9rugka9em04fd0g73venb</string>
	<key>API_KEY</key>
	<string>AIzaSyDsvIb3rsxnnqFVryV-3g3S16TFABI7ZKc</string>
	<key>GCM_SENDER_ID</key>
	<string>253637101944</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.tranvietanh1803.ChatFireBaseApp</string>
	<key>PROJECT_ID</key>
	<string>chatapp-8913e</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-8913e.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253637101944:ios:f27574a9f72fc5bf12a08d</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-8913e-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>